<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
      window.addEventListener("pageshow", function (event) {
        var historyTraversal =
          event.persisted ||
          (typeof window.performance != "undefined" && window.performance.navigation.type === 2)
        if (historyTraversal) {
          // Handle page restore.
          window.location.reload()
        }
      })
    </script>
  </head>
  <head>
    <title>
      Fast Pass Location Not found.
    </title>
  </head>
  <section class="section">
    <div class="container">
      <body>
        <br />
        <br />
        <br />
        <br />
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-1 notification is-danger">getfastpass error</h1>
            <h5 class="subtitle is-5">
              Location <strong>'{{ location }}'</strong> does not exist in our system.
            </h5>
          </div>
        </div>
      </body>
    </div>
  </section>
</html>
